<h1>Edit Beer</h1>

<%= form_with(model: @beer, local: true) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <br />
  <%= f.label(:beer_type) %>
  <%= f.text_field(:beer_type) %>
  <%#  f.text_field%>
  <br />
  <%= f.submit %>
<% end %>
