<h1>New Beer</h1>

<%= form_for(@beer) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <br />
  <%= f.label(:beer_type) %>
  <%= text_area_tag("beer_type") %>
  <br />
  <%= f.submit %>
<% end %>
