<h1>New Project</h1>

<%= form_for(@project) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <br />
  <%= f.label(:beer_type) %>
  <%= f.text_area("Beer Type") %>
  <br />
  <%= f.submit %>
<% end %>
