<p>
  <strong>Name:</strong>
  <div class="name"><%= @beer.name %></div>
</p>
 
<p>
  <strong>Beer Type:</strong>
  <div class="beer_type"><%= @beer.beer_type %></div>
</p>

<p>
  <strong>Description:</strong>
  <div class="description"><%= @beer.description %></div>
</p>

<p>
  <strong>Brewing Time:</strong>
  <div class="brewing_time"><%= @beer.brewing_time %></div>
</p>
 
<%= link_to 'Back', beers_path %>
